@page
@model AppSec_Assignment_2.Pages.ResetPasswordConfirmationModel
@{
}

<div class="container mt-5 text-center">
	<h2>Password Reset Successfully</h2>
	<p>Your password has been updated. <a href="/Login">Login</a></p>
</div>